@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --default-color: hsl(0, 0%, 98%);
    --accent-color: hsl(0, 0%, 41%);
    --contrast-color: hsl(0, 0%, 8%);
}
html, body {
    font-family: 'Epilogue', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--default-color);
}
.hero-col-2 {
    background-image: url(../../../public/assets/images/image-hero-desktop.png);
    height:90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


p {
    color: var(--contrast-color);
}