@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --default-color: hsl(0, 0%, 98%);
    --accent-color: hsl(0, 0%, 41%);
    --contrast-color: hsl(0, 0%, 8%);
}
html, body {
    font-family: 'Epilogue', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--default-color);
}
.hero-col-2 {
  background-image: url(/assets/images/image-hero-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headline h1 {
  font-weight: 800;
  font-size: 60px;
  height: 57px;
}

.headline p {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .hero-col-2 {
    background-image: url(/assets/images/image-hero-mobile.png);
    height: 40vh;
  }
  .headline {
    text-align: center;
    padding: 0 20px;
  }
  .headline h1 {
  /* font-weight: 800; */
  font-size: 34px;
  height: 57px;
}
.client img {
    width: 60px;
}
}

